body {
  box-sizing: border-box;
  margin: 1rem 0px;
  padding: 0;
  text-align: center;
}

#game_table {
  width: 350px;
  margin: 2rem auto;
}

.square {
  width: 100px;
  height: 100px;
  float: left;
  border: 5px solid black;
  font-size: 85px;
  text-align: center;
}

#message {
  margin-top: 1rem;
  color: red;
}

marquee {
  color: blue;
}