body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.content_container {
  text-align: center;
}

form.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

input[type="submit"] {
  width: 10%;
  margin-top: 1rem;
}